
<app-formdemo1></app-formdemo1>
<!-- <app-attribute-directive</app-attribute-directive> -->
<!-- <app-eventdemo></app-eventdemo> -->
<!-- <app-demo></app-demo> -->
<!-- <app-view-all-employee></app-view-all-employee> -->

<!-- <app-viewall></app-viewall> -->
<!-- <fieldset>
    <legend>One Way Binding</legend>
    <h2>String Interpolation</h2>
    <div>
        <h4>Name: {{name}}</h4>
        <h4>Age: {{age}}</h4>
        <h4>City: {{city}}</h4>
    </div>
    <div>
      <button>Count: {{count}}</button> 
    </div>
    <div>
      <ul *ngFor="let k of arr">
        <li>{{k}}</li>
      </ul>
      <table *ngFor="let i of arr">
        <tr>
          <td>Arr{{i}} </td> <td>{{i}}</td>
        </tr>
      </table>
      <table>
        <tr *ngFor="let k of arr">
          <td>k</td><td>i</td>
        </tr>
      </table>
    </div>
    <table>
      <tr *ngFor="let k in list">
          <td>{{k.studentID}}</td>
          <td>{{k.studentName}}</td>
          <td>{{k.studentAge}}</td>
          <td>{{k.studentDOB}}</td>
      </tr>
  </table>
  </fieldset> -->