<!-- <p>register works!</p> -->

<header>
    <h2>Welcome to LTI.</h2>
</header>

<nav>
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="login.html">Login</a></li>
    </ul>
    <img src="../../assets/100.jpg" style="float:right;width:50px;height:50px;padding-top:40px">
</nav>

<br><br><br><br><br><br><br><br><br>

<section id="sectionRegister">
    <h3>Register to explore amazing career opportunities.</h3>
    <fieldset>
    
    <form id="formReg" action="" onsubmit="valid()">
        Username<br>
        <input type="text" id="username" placeholder="Enter Username"  /> &nbsp; <span id="sp1"></span><br><br>
        Password<br>
        <input type="text" id="password" placeholder="Enter Password"  /> &nbsp; <span id="sp2"></span><br><br>
        Email Address<br>
        <input type="text" id="email" placeholder="Enter Email"  /> &nbsp; <span id="sp3"></span><br><br>
        City<br>
        <input type="text" id="city" placeholder="Enter city"  /> &nbsp; <span id="sp4"></span><br><br>
        Mobile No<br>
        <input type="text" id="mobile" placeholder="Enter mobile number"  /> &nbsp; <span id="sp5"></span><br><br>
        <input type="submit" id="registerButton" value="Register" /> &nbsp; <span id="sp"><br></span>
    </form>
    </fieldset>
</section>

<footer>
    &#169; 2020 Larsen & Toubro Infotech Limited.
</footer>