<!-- <p>login works!</p> -->

<header>
    <h2>Welcome to LTI.</h2>
</header>

<nav>
    <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="login.html">Login</a></li>
    </ul>
    <img src="../../assets/100.jpg" style="float:right;width:50px;height:50px;padding-top:40px">
</nav>

<br><br><br><br><br><br><br><br><br>

<section id="sectionRegister">
    <h3>Login to a world of opportunities!</h3>
    <fieldset>
    <span id="loginsp"><br></span>
    <form id="formReg" action="" onsubmit="login()">
        Username<br>
        <input type="text" id="username" placeholder="Enter Username"  /><br><br>
        Password<br>
        <input type="password" id="password" placeholder="Enter Password"  /><br><br>
        <input type="submit" id="loginButton" value="Login" /><br>
        <input type="checkbox" id="check" value="" align="left" checked />Remember me!!
    </form>
    <div id="div1">
        <button id="cancel">Cancel</button> &nbsp; <a href="home.html" id="forget">forget password?  &nbsp; </a>
    </div>
    </fieldset>
    
    
</section>

<footer>
    &#169; 2020 Larsen & Toubro Infotech Limited.
</footer>