<header>
  <h2>Welcome to LTI.</h2>
</header>

<nav>
  <ul>
    <a [routerLink]="['/Home']" routerLinkActive="router-link-active"  ><li>Home</li></a>
    <a [routerLink]="['/Login']" routerLinkActive="router-link-active" ><li>Login</li></a>
    <a [routerLink]="['/Register']" routerLinkActive="router-link-active" ><li>Register</li></a>
  </ul>
  <img src="../../assets/100.jpg" style="float:right;width:50px;height:50px;padding-top:40px">
</nav>

<br><br><br><br><br><br><br><br><br>

<router-outlet></router-outlet>

<footer>
  &#169; 2020 Larsen & Toubro Infotech Limited.
</footer>